.spinner {
    margin-top: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    animation: spinner-animation 1s linear infinite;
}

@keyframes spinner-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}