html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  transition: opacity 0.22s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.background {
  background: linear-gradient(48deg, #114D92 0%, #4994C8 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlap {
  border-radius: 20px;
  background: #E7F1FF;
  box-shadow: 4px 4px 10px 0px #235284;
}

.vector {
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  top: 2%;
  color: #fff;
  right: 2%;
  transition: color 0.25s ease-out;

  &:hover {
    color: #235284 !important;
  }
}

.overlap {
  display: flex;
  height: 70%;
  width: 90%;


  .left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #E7F1FF;
    box-shadow: 4px 4px 10px 0px #235284;
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      top: 16%;
      left: 6%;
    }

    .caa-text {
      text-align: center;
      color: #3982B8;
      text-align: center;
      font-size: 3rem;
      font-family: "Roboto-Bold", Helvetica;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 5%;
    }

    .form {
      input {
        width: 500px;
        margin-top: 30px;
      }

      .confirm-pass {
        margin-bottom: 15%;
      }
    }

  }

  .right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 0px 20px 20px 0px;
    background: red url("../../../../assets/Untitled.jpeg") 50% / cover no-repeat;
    flex: 40%;

    .overlap-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15rem;


      .h-1.wb-text {
        margin-bottom: 20%;
        color: #fff;
        text-align: center;
        font-family: "Roboto-Bold", Helvetica;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 20px;
        font-size: 4rem;
      }

      .text-wrapper-4 {
        text-align: center;
        color: #fff;
        margin-top: 10px;
        font-size: 1.5rem;
      }
    }

    .text-wrapper-3 {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1400px) {

  * {
    display: none;
  }
}


// .overlap {
//   border-radius: 20px;
//   background: #E7F1FF;
//   box-shadow: 4px 4px 10px 0px #235284;
// }

// .vector {
//   cursor: pointer;
//   font-size: 40px;
//   position: absolute;
//   top: 2%;
//   color: #fff;
//   right: 2%;
//   transition: color 0.25s ease-out;

//   &:hover {
//     color: #235284 !important;
//   }
// }

// .overlap {
//   display: flex;
//   height: 80%;
// }

// .left {
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
//   background: #E7F1FF;
//   box-shadow: 4px 4px 10px 0px #235284;
//   flex: 60%;
// }

// .right {
//   border-top-right-radius: 20px;
//   border-bottom-right-radius: 20px;
//   border-radius: 0px 20px 20px 0px;
//   background: rgba(7, 18, 30, 0.50);
//   background-image: url("../../../../assets/background.jpg");
//   background-position: 50% 50%;
//   background-size: cover;
//   flex: 40%;

// }





// .register-l-light {
//   background-color: rgba(255, 255, 255, 1);
//   display: flex;
//   flex-direction: row;
//   justify-content: center !important;
//   align-items: center !important;
//   width: 100%;
//   height: 100vh;
// }

// .register-l-light .div {
//   background: linear-gradient(180deg,
//       rgb(17, 77, 146) 0%,
//       rgb(73, 148, 200) 100%);
//   background-color: rgba(255, 255, 255, 1);
//   border: 1px none;
//   height: 100%;
//   position: relative;
//   width: 100%;
// }



// .register-l-light .form-bg {
//   background-color: #e7f1ff;
//   border-radius: 20px;
//   box-shadow: 4px 4px 10px #235284;
//   height: 871px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 1616px;
// }

// .register-l-light .left {
//   height: 692px;
//   left: 48px;
//   position: absolute;
//   top: 45px;
//   width: 635px;
// }

// .register-l-light .BTN {
//   height: 60px;
//   left: 190px;
//   position: absolute;
//   top: 632px;
//   width: 292px;
// }

// .register-l-light .overlap-group {
//   background-color: #3982b8;
//   border-radius: 60px;
//   box-shadow: 2px 2px 4px #00000040;
//   height: 60px;
//   position: relative;
//   width: 290px;
// }

// .register-l-light .text-wrapper {
//   color: #ffffff;
//   font-family: "Roboto-Bold", Helvetica;
//   font-size: 24px;
//   font-weight: 700;
//   left: 99px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   text-align: center;
//   top: 16px;

// }

// .register-l-light .form {
//   height: 278px;
//   left: 232px;
//   position: absolute;
//   top: 300px;
//   width: 401px;
// }

// .register-l-light .confirm-pass {
//   height: 58px;
//   left: -2px;
//   position: absolute;
//   top: 226px;
//   width: 408px;
// }

// .register-l-light .pass {
//   height: 58px;
//   left: -2px;
//   position: absolute;
//   top: 150px;
//   width: 408px;
// }

// .register-l-light .email {
//   height: 58px;
//   left: -2px;
//   position: absolute;
//   top: 74px;
//   width: 408px;
// }

// .register-l-light .name {
//   height: 58px;
//   left: -1px;
//   position: absolute;
//   top: -2px;
//   width: 408px;
// }

// .register-l-light .text-wrapper-2 {
//   color: #3982b8;
//   font-family: "Roboto-Bold", Helvetica;
//   font-size: 64px;
//   font-weight: 700;
//   left: 291px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   text-align: center;
//   top: 101px;
//   width: 282px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .register-l-light .text-wrapper-2 span {
//   margin-top: 8px;
// }

// .register-l-light .listener {
//   height: 70px;
//   left: 0;
//   object-fit: cover;
//   position: absolute;
//   top: 0;
//   width: 74px;
// }

// .register-l-light .right {
//   height: 871px;
//   left: 1016px;
//   position: absolute;
//   top: 0;
//   width: 604px;
// }

// .register-l-light .overlap-2 {
//   height: 871px;
//   position: relative;
//   width: 600px;
// }

// .register-l-light .bg {
//   background-image: url("../../../../assets/background.jpg");
//   background-position: 50% 50%;
//   background-size: cover;
//   height: 871px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 600px;
// }

// .register-l-light .rectangle {
//   background-color: #06111d80;
//   border-radius: 0px 20px 20px 0px;
//   height: 871px;


// }

// .register-l-light .overlap-group-wrapper {
//   height: 60px;
//   left: 90px;
//   position: absolute;
//   top: 613px;
//   width: 522px;
// }

// .register-l-light .div-wrapper {
//   background-color: #e7f1ff;
//   border: 4px solid;
//   border-color: #3982b8;
//   border-radius: 60px;
//   height: 60px;
//   position: relative;
//   width: 320px;
// }

// .register-l-light .text-wrapper-3 {
//   color: #3982b8;
//   font-family: "Roboto-Bold", Helvetica;
//   font-size: 24px;
//   font-weight: 700;
//   left: 104px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   text-align: center;
//   top: 12px;
//   white-space: nowrap;
//   width: 99px;
// }

// .register-l-light .text-wrapper-4 {
//   color: #ffffff;
//   font-family: "Roboto-Regular", Helvetica;
//   font-size: 20px;
//   font-weight: 400;
//   left: 180px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   top: 571px;
//   white-space: nowrap;
//   width: 240px;
// }

// .register-l-light .h-1 {
//   color: #ffffff;
//   font-family: "Roboto-Bold", Helvetica;
//   font-size: 76px;
//   font-weight: 700;
//   left: 135px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   text-align: center;
//   top: 223px;
//   width: 331px;
// }

// .register-l-light .vector {
//   height: 40px;
//   left: 2650px;
//   position: absolute;
//   top: 34px;
//   width: 40px;
//   cursor: pointer;
// }

// .w-full {
//   width: 100%;
// }