.btn {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #235284;
    border-radius: 50px;
    height: 30px;
    position: relative;
    width: 80px;
  }
  .register {
    
    color: #235284;
    font-family: "Mulish-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    
  }
  