.btn {
    background-color: #235284;
    border: 1px solid;
    color: #fff;
    border-radius: 50px;
    padding: 5px 23px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn:hover {
  background-color: #3982B8;
}

.register {
  color: #235284;
  font-family: "Mulish-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}
  