.header {
  background-color: transparent;
  height: 286px;
  left: 40px;
  position: absolute;
  top: 3px;
  width: 1759px;
}

.avatar {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/649474d8048a6087ab20c40b/releases/6495c491a1b0005e5700e644/img/ikonica@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 95px;
  left: 1659px;
  position: absolute;
  top: 94px;
  width: 100px;
}

.ellipse-4 {
  background-color: #6ecf5e;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 13.5px/14.06px;
  height: 28px;
  left: 68px;
  position: relative;
  width: 27px;
}

.navbar {
  height: 38px;
  left: 340px;
  position: absolute;
  top: 122px;
  width: 630px;
}

.text-wrapper-37 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 120px;
}

.text-wrapper-38 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 158px;
}

.text-wrapper-39 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 89px;
}

.text-wrapper-40 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 86px;
}

.logo-2 {
  height: 286px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 320px;
}
