.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .vector-wrapper {
        border: 0px none;
        height: 50px;
        width: 50px;
    }

    .vector {
        height: 50px;
        left: 0;
        position: fixed;
        top: 0;
        width: 50px;
    }
}