* {
    padding: 5px;
    box-sizing: border-box;
}

h1,
label,
span,
p {
    color: #fff;
}

html,
body {
    background-color: #090909;
    background-size: cover;
}

button {
    margin-left: 10px;
}