.first-group {
    input {
        width: 35% !important;
        margin: 5px;
    }
}

.second-group {

    input {
        width: 35% !important;
        margin: 5px;
    }
}

.third-row {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 71%;
    height: 40%;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #3982B8;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #3982B8;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.btn {
    margin-top: 2%;
}