.forget-password-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.forget-password-container .div-container {
  background: linear-gradient(
    180deg,
    rgb(17, 77, 146) 20.22%,
    rgb(73, 148, 200) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  border: 1px none;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.forget-password-container .overlap-group {
  height: 928px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 1920px;
}

.forget-password-container .bg {
  background-color: #e7f1ff;
  height: 663px;
  left: 0;
  position: absolute;
  top: 265px;
  width: 1920px;
}

.forget-password-container .form-img {
  height: 784px;
  left: 647px;
  position: absolute;
  top: 0;
  width: 634px;
}

.forget-password-container .vector-icon {
  height: 40px;
  left: 1848px;
  position: absolute;
  top: 34px;
  width: 40px;
}

.inner-container {
  width: 600px;
  height: 750px;
  left: 650px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 4px 4px 17px #2c2c2c;
  border-radius: 10px;
}

.back-button {
  width: 132px;
  left: 254px;
  top: 660px;
  position: absolute;
  color: #4f4f4f;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.submit-button {
  width: 320px;
  height: 60px;
  left: 140px;
  top: 584px;
  position: absolute;
}

.submit-button-background {
  width: 320px;
  height: 60px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #3982b8;
  border-radius: 50px;
}

.submit-button-text {
  width: 230.4px;
  height: 37.2px;
  left: 44.8px;
  top: 10.8px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 700;
  word-wrap: break-word;
}

.email-input {
  width: 350px;
  height: 60px;
  left: 125px;
  top: 442px;
  position: absolute;
}

.email-input-background {
  width: 350px;
  height: 60px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 3px;
  border-left: 0.5px #3982b8 solid;
  border-top: 0.5px #3982b8 solid;
  border-right: 0.5px #3982b8 solid;
  border-bottom: 0.5px #3982b8 solid;
}

.email-input-label {
  width: 48px;
  left: 26px;
  top: 20px;
  position: absolute;
  color: #3982b8;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.image {
  width: 170px;
  height: 170px;
  left: 215px;
  top: 68px;
  position: absolute;
}

.description {
  width: 432px;
  left: 84px;
  top: 349px;
  position: absolute;
  text-align: center;
  color: #4f4f4f;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.heading {
  width: 432px;
  left: 84px;
  top: 275px;
  position: absolute;
  text-align: center;
  color: #3982b8;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.vector-icon {
  height: 40px;
  left: 1848px;
  position: absolute;
  top: 34px;
  width: 40px;
}


